*{
  padding: 0px;
  margin: 0px;
}

body{
  height: 100vh;
  background-image: url(../Imagenes_Europa/Botonera_A_Grey.svg);
  background-repeat: no-repeat;
  background-size: 100vmax;
}
 
a{
  text-decoration: none;
  color: #000
}

a:active{
  color: #dfdfdf;
}

.background{
  padding:15px 0 0;
  margin:0px;
}

.company{
  text-align:center;
  margin: 80px auto 35px;
  font-family: 'Inter',sans-serif;
  font-size: 15px;
  font-weight:800;
}

.logo{
  width: 300px;
  height: 100px;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
}

.title{
  margin: -10px 0 0 0;
  font-size: 35px;
  font-weight: bold;
}

.title-rif{
  font-size: 10px;
  font-weight: 100;
}

.box{
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.228) );
  width: 80vw;
  text-align:center;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  /*backdrop-filter: blur(100px);*/
}

div > a{   /*  Buttons  */
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 22px 16px;
}

.box-option{
  border: #000 solid 2px;
  box-shadow: #000 0 2px 2px;
  color: #000;
  padding:5px 0;
  /* width:80%;        Large Buttons   */
  width: 100px;
  height: 100px;
  margin: 12px auto;
  border-radius: 8px;
  background:#0C3289;
  font-size: 13px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-option:hover{
  scale:1.10;
  background:#2480b0;
  transition: revert;
}

.box-option:active{
  background:#125080;
}

svg{
  font-size: 40px;
  color: #fafafa;
}
  
.option-title{
  text-align:center;
}

.whatsapp:hover{
  color: #fff;
  background-color: #25D366;
}

.whatsapp:active{
  background:#15C355;
  color: #fff;
}

h3 > i{
  font-size: 45px;
  margin: auto;
}

.instagram:hover{
  color: #fff;
  background: #E1306C;
}

.instagram:active{
  color: #fff;
  background: #d1205b;
}

.web:hover{
  color: #fff;
  background-color: #4267B2;
}

.web:active{
  color: #fff;
  background-color: #3257A2;
}

footer{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  margin: 45px auto 10px 7px;
  width: 50px;
  height: 50px;
}


@media screen and (max-width:330px){
  .title{
    font-size: 30px;
  }

  .logo{
    width: 185px;
    height: 70px;
    max-width: 500px;
    max-height: 500px;
    margin: 0;
  }

  
  div > a{
    width: 70px;
    height: 70px;
  }

  
  .box-option{
    width: 70px;
    height: 70px;
  }
  
  svg{
    font-size: 30px;
  }

  .footer-logo{
    margin: 70px auto 10px 7px;
    width: 50px;
    height: 50px;
  }

}