*{
  padding: 0px;
  margin: 0px;
}



body{
  height: 100vh;
  background-image: url(../Imagenes_Europa/Botonera_A_Grey.svg);
  background-repeat: no-repeat;
  background-size: 100vmax;
}
 
a{
  text-decoration: none;
  color: #000
}

a:active{
  color: #dfdfdf;
}

.background{
  padding:15px 0 0;
  margin:0px;
}

.company{
  text-align:center;
  margin: 80px auto 35px;
  font-family: 'Inter',sans-serif;
  font-size: 15px;
  font-weight:800;
}

.company-popup{
  text-align:center;
  margin: 50px auto 20px;
  font-family: 'Inter',sans-serif;
  font-size: 15px;
  font-weight:800;
}

.logo{
  width: 300px;
  height: 100px;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
}

.logo-popup{
  width: 300px;
  height: 100px;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  cursor: pointer;
}

.title{
  margin: -10px 0 0 0;
  font-size: 35px;
  font-weight: bold;
}

.title-rif{
  font-size: 10px;
  font-weight: 100;
}

.box{
  background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.228) );
  width: 80vw;
  text-align:center;
  margin: 20px auto;
  border-radius: 8px;
  padding: 10px;
  /*backdrop-filter: blur(100px);*/
}

div > a{   /*  Buttons  */
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 22px 16px;
}

.box-option{
  border: #000 solid 2px;
  box-shadow: #000 0 2px 2px;
  color: #000;
  padding:5px 0;
  /* width:80%;        Large Buttons   */
  width: 100px;
  height: 100px;
  margin: 12px auto;
  border-radius: 8px;
  background:#0C3289;
  font-size: 13px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-option:hover{
  scale:1.10;
  background:#2480b0;
  transition: revert;
}

.box-option:active{
  background:#125080;
}

svg{
  font-size: 40px;
  color: #fafafa;
}
  
.option-title{
  text-align:center;
}

.whatsapp:hover{
  color: #fff;
  background-color: #25D366;
}

.whatsapp:active{
  background:#15C355;
  color: #fff;
}

h3 > i{
  font-size: 45px;
  margin: auto;
}

.instagram:hover{
  color: #fff;
  background: #E1306C;
}

.instagram:active{
  color: #fff;
  background: #d1205b;
}

.web:hover{
  color: #fff;
  background-color: #4267B2;
}

.web:active{
  color: #fff;
  background-color: #3257A2;
}

.popup{
  width: 100vw;
  height:100vh;
  background: #676767b4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.popup-windows{
  margin: 25px 0;
  width: 70vw;
  height:50vh;
  background: #eaeaea;
  border-radius: 10px;
  box-shadow: #585858 0 5px 30px 5px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.popup-windows--option{
  margin: auto;
  text-align: center;
  width: 30%;
  height: 60%;
}

.popup-windows--option > a{
  width: 100%;
  height: -webkit-fill-available;
  margin: auto;
  background: #fafafa;
  box-shadow: #a0a0a0 0 5px 35px 15px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0 0 15px 0;
}

.popup-windows--option > a:hover{
  box-shadow: #555555 0 10px 35px 5px;
}

.popup-windows--img{
  height: 85%;
}

.val{
  width: -webkit-fill-available;
}

.ccs{
  width: -webkit-fill-available;
}

.popup-windows--option > a > h4 {
  font-size: 25px;
  height: 15%;
  padding: 5px 0 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

footer{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo{
  margin: 50px auto;
  width: 50px;
  height: 50px;
}

@media screen and (max-width:1000px){
  
  .popup{
    width: 100vw;
    height:100vh;
    background: #adadadca;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .popup-windows{
    margin:auto;
    width: 90vw;
    max-width:1000px;
    border-radius: 10px;
    padding: 15px 5px;
    box-shadow: #8d8d8d 0 5px 30px 5px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  .popup-windows--option{
    margin: auto;
    text-align: center;
    height: 65%;
    width: 40%;
    background: #fafafa;
  }

  .popup-windows--option > a > h4 {
    font-size: 20px;
    margin: 5px auto 0;
  }
}

@media screen and (max-width:700px){
  
  .popup{
    width: 100vw;
    height:100vh;
    background: #adadadca;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: nowrap;
  }

  .popup-windows{
    margin: 45px auto;
    width: 80vw;
    height: 40%;
    max-width:1000px;
    background: #fafafa;
    border-radius: 10px;
    padding: 15px 5px;
    box-shadow: #8d8d8d 0 5px 30px 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: row wrap;
  }
  
  .popup-windows--option{
    margin: 20px auto;
    height: 50%;
  }

  .logo-popup{
    width: 270px;
    height: 60px;
    max-width: 500px;
    max-height: 500px;
    margin: 0;
  }
}

@media screen and (max-width:450px){

  .popup-windows{
    margin: 45px auto;
    width: 90vw;
    height: 60%;
    max-width:1000px;
    background: #fafafa;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: #8d8d8d 0 5px 30px 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
  }
  
  .popup-windows--option{
    margin: 10px auto;
    height: 45%;
    width: 55%;
  }

  .popup-windows--option > {
    box-shadow: #9d9d9d 0 0 10px;
  }
}

@media screen and (max-width:330px){
  .title{
    font-size: 30px;
  }

  .logo{
    width: 185px;
    height: 70px;
    max-width: 500px;
    max-height: 500px;
    margin: 0;
  }

  
  div > a{
    width: 70px;
    height: 70px;
  }

  
  .box-option{
    width: 70px;
    height: 70px;
  }
  
  svg{
    font-size: 30px;
  }

  .footer-logo{
    margin: 50px auto;
    width: 50px;
    height: 50px;
  }

  .popup-windows{
    margin: 20px auto;
    width: 90vw;
    height: 70%;
  }
  
  .popup-windows--option{
    margin: 15px auto 0;
    height: 40%;
    width: 80%;
  }

  .popup-windows--option > {
    box-shadow: #9d9d9d 0 0 10px;
  }

}

.hide{
  display: none;
}